body{
	margin: 0;
	padding: 0;
	font-family: Arial, Sans-Serif;
			font-size: 15px;
			color: black;
			
}

form{
	font-size: 16px;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 10px;
}

input, textarea {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

table{border-spacing: 35px;

}